$gray: #a1c5b5;

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;

    .container {
        width: 500px;
        height: 500px;
        border: 1px solid $gray;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        box-sizing: border-box;

        .task {
            position: relative;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0 100px 0 10px;
            align-items: center;
            border: 1px solid $gray;
            border-radius: 20px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            &-info {
                width: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .task-deadline {
                    color: gray;
                }
            }

            &-name {
                font-weight: bold;
            }

            &-delete {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: red;
                font-size: 15px;
            }
        }
    }
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .confirm-modal {
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 0 10px rgba(0, 0, 0, .7);
        padding: 20px 25px;
        font-weight: bold;
        font-size: 20px;
    }

    .close-modal {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid red;
        color: red;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        cursor: pointer;
        top: -15px;
        right: -15px;
    }
}